*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

:root {
  --font-plain: iA Writer Quattro S, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  --font-special: Bygonest Rustic, Futura, serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
  --color-background: #fdf7ec;
  --color-background-muted: #eae5dc;
  --color-text-muted: #5e5c58;
  --color-text: #302f2d;
  --color-mid: #808080;
  --color-accent: #ff451c;
  --color-footer: #ff9c32;
  --ratio: 1.5;
  --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --s0: clamp(1rem, 1rem + 0vw, 1rem);
  --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
  --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
  --max-width: 1000px;
  --col-width: 65em;
  --threshold: calc(var(--max-width) - 100px);
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-background);
  color: var(--color-text);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #302f2d;
    --color-background-muted: #5e5c58;
    --color-text: #fdf7ec;
    --color-text-muted: #c5c0b8;
    --color-footer: #882e10;
  }
}

footer,
header,
article,
nav {
  display: block;
}

footer > *,
article > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-bottom: 0;
  width: 100%;
}

article {
  line-height: var(--line-height);
}

article > * + * {
  margin-block-start: var(--s2, 1.5rem);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--s2, 1.5rem);
}

.stack-exception,
.stack-exception + * {
  --space: 3rem;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
  font-weight: 700;
  color: var(--color-text);
}

.h1,
h1 {
  font-size: var(--s4);
  font-family: var(--font-special);
  color: var(--color-accent);
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

.h2,
h2 {
  font-size: var(--s3);
}

.h3,
h3 {
  font-size: var(--s2);
}

.h4,
h4 {
  font-size: var(--s1);
}

article,
main {
  max-width: var(--max-width);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(250px, 2fr);
  grid-column-gap: var(--s1);

  margin: auto;
  padding: 0 var(--s1) var(--s1) 0;
}
div.aside {
  min-width: 250px;
  max-width: 100%;
  width: 250px;
  font-family: var(--font-plain);
  text-transform: lowercase;
  color: var(--color-text);
  text-align: end;
  float: left;
  border-right: 5px solid var(--color-accent);
  font-size: var(--s3);
  padding-right: var(--s1);
  padding-bottom: var(--s1);
  font-weight: 700;
  hyphens: auto;
}
article2 > header,
section2 > h2 {
  min-width: calc(100% - var(--col-width) - var(--s2));
  max-width: 100%;
  width: calc((var(--threshold) - 100%) * 1000);
  font-family: var(--font-plain);
  text-transform: lowercase;
  color: var(--color-text);
  text-align: end;
  float: left;
  border-right: 5px solid var(--color-accent);
  font-size: var(--s3);
  padding-right: var(--s1);
  padding-bottom: var(--s1);
  font-weight: 700;
  hyphens: auto;
}

sidebar > header > span {
  padding-top: var(--s1);
  font-size: var(--s-1);
  display: block;
  font-weight: 400;
  color: var(--color-text-muted);
}

article > :not(header) {
  margin: 0;
  width: 100%;
  max-width: var(--col-width);
}

article > p + p {
  margin-bottom: var(--s-1);
  font-size: var(--s-1);
}

section.post-nav-section > nav {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--s1);
}

.stack nav {
  margin: 0;
  margin-block-start: 0;
  padding-left: 0;
  padding-right: 0;
}

body > header {
  width: 100%;
}

body > header > h1 {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff451c' fill-opacity='0.35'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: block;
  width: 100%;
  margin: 0;
  padding-right: var(--s1);
}

div.sublogo {
  float: left;
  text-wrap: nowrap;
}

nav ul {
  list-style: none;
  float: right;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid var(--color-accent);
}

a:hover {
  color: var(--color-accent);
  opacity: 1;
}

a#back-to-top {
  position: fixed;
  cursor: pointer;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: var(--s-1);
  transform: translateY(calc(100% + 1rem));
  opacity: 0;
  transition: 0.218s ease;
  z-index: 1;
  background: inherit;
  border: 1px solid var(--color-accent);
  text-decoration: none;
}
a#back-to-top.visible {
  transform: translateY(0);
  opacity: 1;
}
a#back-to-top:hover {
  background: var(--color-accent);
  color: var(--color-text);
}

table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--color-background-muted));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
ul,
ol {
  padding-left: var(--s2);
  margin: 0;
}
blockquote {
  border-left: 4px solid var(--color-accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: var(--s0);
}
hr {
  border: none;
  border-top: 5px solid var(--color-accent);
  margin: var(--s-1) 0 var(--s1) 0;
}
