---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../profile';
import { getCollection } from 'astro:content';
import StoryCard from '../../components/StoryCard.astro';

const posts = (await getCollection('stories')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<article>
			<header>
				<h2>All Stories</h2>
				<p>Browse through all my stories, from newest to oldest.</p>
			</header>

			<section class="stories-grid">
				{posts.map((post) => (
					<StoryCard story={post} />
				))}
			</section>

			<style>
				.stories-grid {
					display: grid;
					gap: 2rem;
					grid-template-columns: repeat(auto-fill, minmax(min(100%, 24rem), 1fr));
					margin-bottom: 4rem;
				}
			</style>
		</article>
		<Footer />
	</body>
</html>
