---
const today = new Date();
import { TITLE } from '../profile';
---

<footer>
    <div class="links">
        <a href="#" target="_blank" rel="noopener noreferer">
            email
		</a>

		<a href="#" target="_blank" rel="noopener noreferer">
            github
		</a>

		<a href="#" target="_blank" rel="noopener noreferer">
            bluesky
		</a>
    </div>
	<div class="copyright">
		&copy;{new Date().getFullYear()}. All rights reserved. Design by <a href="https://github.com/yakbrother">yakbrother</a>.
	</div>
</footer>

<style>
	footer {
		background: var(--color-footer);
		padding: var(--s2);
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: var(--s1);
		text-align: center;
		font-size: var(--s-1);
	}

	footer > div {
		width: 100%;
		margin: auto;
	}

	.links {
		display: flex;
		gap: var(--s-1);
		justify-content: center;
		font-size: var(--s0);
	}
	.copyright {
		text-style: italic;
	}
</style>
