---
import { SITE_TITLE, AUTHOR, EMAIL } from '../profile';
---

<header><h1><a href="/">{SITE_TITLE}</a></h1></header>

<nav>
	<div class="logo">stories by {AUTHOR}</div>
	<ul>
	<li><a href="/about">about</a></li>
	<li><a href="/stories">archive</a></li>
	<li><a href="mailto:{EMAIL}">email</a></li>
	</ul>
</nav>

<style>
	nav {
		text-transform: lowercase;
	}
</style>