---
interface Props {
  tag: string;
  size?: 'sm' | 'md';
}

const { tag, size = 'md' } = Astro.props;
---

<a href={`/tags/${tag}/`} class:list={['tag', size]}>
  {tag}
</a>

<style>
  .tag {
    display: inline-block;
    margin-bottom: var(--s-2);
    text-decoration: none;
    background-color: var(--color-background-muted);
    border-radius: 4px;
    transition: all 0.2s ease;
  }

  .tag:hover {
    background: var(--color-accent);
    color: var(--color-text);
  }

  .sm {
    padding: 0.2rem 0.5rem;
    font-size: var(--s-2);
  }

  .md {
    padding: 0.3rem 0.8rem;
    font-size: var(--s-1);
  }
</style>
