---
const { title, description, image, breadcrumbs } = Astro.props;
import BaseHead from '@components/BaseHead.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="stack">
    <Header />
    <section class="breadcrumbs-section">
      <Breadcrumbs segments={breadcrumbs} />
    </section>
    <main class="stack">
      <slot />
    </main>
    <a class="button" href="#" id="back-to-top">↑ Back to top</a>
    <Footer />
    <style>
      h2 {
        font-size: var(--s1);
      }
    </style>
  </body>
</html>
