---
const { title, description, image } = Astro.props;
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="stack">
    <Header />
    
      <slot />
    
    <button id="back-to-top">↑ Back to top</button>
    <Footer />
  </body>
</html>
