---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { AUTHOR } from '../profile';

type Props = CollectionEntry<'story'>['data'];

const { title, description, pubDate, updatedDate, ogImage } = Astro.props;
---

	</head>

						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
